<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <div class="container">
<h1>Editar Préstamo</h1>
<form action="/prestamos/editar/{{prestamo._id}}" method="POST">
  <label for="identificacion">Identificación del Préstamo:</label>
  <input type="number" name="identificacion" value="{{prestamo.identificacion}}" required>

  <label for="id_libro">Seleccionar Libro:</label>
  <select name="id_libro" required>
    {{#each libros}}
      <option value="{{this._id}}" {{#if (eq this._id ../prestamo.id_libro._id)}}selected{{/if}}>{{this.titulo}}</option>
    {{/each}}
  </select>

  <label for="id_miembro">Seleccionar Miembro:</label>
  <select name="id_miembro" required>
    {{#each miembros}}
      <option value="{{this._id}}" {{#if (eq this._id ../prestamo.id_miembro._id)}}selected{{/if}}>{{this.nombre}}</option>
    {{/each}}
  </select>

  <label for="fecha_prestamo">Fecha del Préstamo:</label>
  <input type="date" name="fecha_prestamo" value="{{prestamo.fecha_prestamo}}" required>

  <label for="fecha_retorno">Fecha de Retorno:</label>
  <input type="date" name="fecha_retorno" value="{{prestamo.fecha_retorno}}" required>

  <button type="submit">Guardar Cambios</button>
</form>
            <a href="/" class="button">Ir al Inicio</a>
